@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-image: linear-gradient(80deg, #20bf55, #01baef);
  background-size: 5000px 5000px;
	height: 100%;
	background-repeat: no-repeat;
	
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #379683;
	color: #fff;
	border: 0;
	font-size: 17px;
}


.btn:hover{
	background-color: #fff;
	color: #379683;
}

/* Chat Page */

.chat-container {	
	background: #fff;
	
	
}


.chat-header {
	background:#379683 ;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}


.chat-sidebar {
	background: #5cdb95;
	color: #fff;
	padding: 20px 20px 60px;

	height: 590px;

     
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: 590px;
	overflow-y: scroll;
	
	
	
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background: color #5cdb95; 
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;

	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	
	color:#05386B;
}

.chat-form-container {
	padding: 10px 10px;
	background-color: #5cdb95;
   
	
	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	margin-left:25%;
}

/* Join Page */
.join-container {
	width: 500px;
	margin: 80px auto;
	color: #fff;
	margin-top: 150px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: #05386B;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: #05386B;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}


h1{
	display: flex;
	justify-content: space-evenly	;
}

h4{
	font-size: 50px;
}

